<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" th:href="@{/img/ball.png}" type="image/x-icon">
</head>
<body style="background-image: url('/img/lawn.jpg'); background-size: cover; background-position: center;">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-success mb-0 me-3 fw-light" href="/mySport">Welcome to My Sport</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="d-flex justify-content-center align-items-center">
                <a th:href="@{/mySport/team/{teamName}(teamName=${game.getFirst_team().getName()})}" class="btn">
                    <span th:text="${game.getFirst_team().getName()}" class="h1"></span>
                </a>
                <span class="mx-3">-</span>
                <a th:href="@{/mySport/team/{teamName}(teamName=${game.getSecond_team().getName()})}" class="btn">
                    <span th:text="${game.getSecond_team().getName()}" class="h1"></span>
                </a>
            </div>
            <h3 th:text="${game.getGameDate()}"></h3>
            <h3 th:if="${game.getResult() != null}" th:text="${'Result ' + game.getResult()}"></h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 th:text="${game.getFirst_team().getName() + ' squad'}" class="card-title"></h4>
                    <ul th:each="player : ${game.getFirst_team().getPlayers()}" class="list-group">
                        <li th:text="${player.getFirstName() + ' - Number ' + player.getJerseyNumber() + ' - ' + player.getPosition()}" class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 th:text="${game.getSecond_team().getName() + ' squad'}" class="card-title"></h4>
                    <ul th:each="player : ${game.getSecond_team().getPlayers()}" class="list-group">
                        <li th:text="${player.getFirstName() + ' - Number ' + player.getJerseyNumber() + ' - ' + player.getPosition()}" class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:if="${admin}">
    <h1>Set match Result</h1>
    <form method="post" th:action="@{/mySport/{leagueName}/{matchId}(leagueName=${game.getLeague().getName()}, matchId=${game.getId()})}">
        <label for="number1">Team 1 score:</label>
        <input type="number" id="number1" name="number1" min="0" required>

        <label for="number2">Team 2 score:</label>
        <input type="number" id="number2" name="number2" min="0" required>

        <input type="submit" value="Submit">
    </form>
    <h1>Change match date</h1>
    <form method="post" th:action="@{/mySport/{leagueName}/{matchId}/changeDate(leagueName=${game.getLeague().getName()}, matchId=${game.getId()})}">
        <label for="date">Team 1 score:</label>
        <input type="datetime-local" id="date" name="date"  required>
        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>